.server-button {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	padding: 10px;
	border: none;
	background-color: rgba(39, 40, 44, 1);
	transition: border-radius 0.2s, background-color 0.2s;
	display: flex;
	justify-content: center;

	opacity: 0;
	transform: translateY(8px);
	animation-name: fadeInUp;
	animation-duration: 200ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

.server-button:hover {
	border-radius: 16px;
	background-color: #5865f2;
}

.server-button.active {
	border-radius: 16px;
	background-color: #5865f2;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(8px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
