.layout {
	background-color: rgba(39, 40, 43, 1);
	display: flex;
	height: 100vh;
	flex: 1;
}

.sidebar {
	width: 240px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-height: 0;
}

.chat {
	flex: 1;
	background: rgba(49, 51, 56, 1);
	border-left: 1px solid rgba(39, 40, 43, 1);
	display: flex;
	flex-direction: column;
}

.room-list {
	flex: 1;
	min-height: 0;
	overflow-y: auto;
	scrollbar-width: none;
}

.list::-webkit-scrollbar {
	display: none;
}

.inbox-header {
	display: flex;
	height: 30px;
	gap: 8px;
	padding: 6px 10px;
	min-height: 45px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
	background: rgba(43, 45, 49, 1);
}


.messages-header {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-top: 8px;
	padding: 0px 8px;
}

.messages-header-filter {
	flex: 1;
	height: 40px;
	border-radius: 20px;
	border: none;
	outline: none;
	cursor: pointer;

	display: flex;
	align-items: center;
	gap: 6px;
	padding: 0 16px;

	background: rgba(255, 255, 255, 0.03);
	font-family: Open Sans;
	font-style: SemiBold;
	color: rgba(140, 140, 142, 1);
	font-size: 13px;
	font-weight: 600;

	transition: background-color 0.15s ease;
}

.messages-header-filter:hover {
	background-color: rgba(43, 45, 49, 1);
}

.add-button {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: none;
	outline: none;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(46, 47, 50, 1);

	transition: background-color 0.15s ease, transform 0.1s ease;
}

.add-button:hover {
	background-color: rgba(43, 45, 49, 1);
	transform: translateY(-1px);
}
