.chat {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: rgba(49, 51, 56, 1);
}

.header {
	height: 48px;
	padding: 0 16px;
	border-bottom: 1px solid rgba(35, 36, 40, 1);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-left {
	display: flex;
	align-items: center;
	gap: 8px;
}

.avatar {
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background-color: rgba(88, 101, 242, 1);
}

.title {
	color: rgba(255, 255, 255, 1);
	font-family: Open Sans;
	font-style: SemiBold;
	font-weight: 600;
}

.input-bar {
	display: flex;
	padding: 16px;
}

.input {
	width: 100%;
	flex: 1;
	height: 44px;
	border-radius: 8px;
	border: none;
	outline: none;
	padding: 0px 12px;
	background-color: rgba(56, 58, 64, 1);
	color: rgba(242, 243, 245, 1);
	font-size: 14px;
}

.messageButton {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
